body {
  /* background-color: rgb(209, 227, 231); */
  background: rgb(140, 182, 209);
  /* background-repeat: none; */
  /* background: linear-gradient(3deg, rgba(83,155,201,1) 0%, rgba(149,198,205,1) 50%, rgba(193,244,255,1) 100%); */
}

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

/* <-------------------------------------OTP CSS-----------------------------------------> */
.timer {
  color: red;
}


/* <----------------------------------DASHBOARD CSS--------------------------------------> */

.user {
  width: 80px;
  height: auto;
}

.upload_button {
  height: 95%;
  margin-left: 10px;
}

.dash-card {
  width: 450px;
  padding: 2em;
  border-radius: 20px;
  color: white;
  line-height: 25px;
  box-shadow: 0px 30px 25px -25px rgba(0, 0, 0, 0.5);
  float: left;
  margin-right: 1em;
}

.ridge {
  /* background: rgb(217, 217, 217); */
  background: rgb(33, 71, 91);
  background: linear-gradient(24deg, rgb(102, 172, 208) 0%, rgb(137, 176, 202), 24%, rgb(151, 214, 228) 55%, rgb(104, 172, 187) 99%);
  border-width: 10px;
  border-style: ridge;
  Border-color: white;
}

.card {
  /* line-height: 25px; */
  /* float: left; */
  /* margin-right: 1em; */
  width: 400px;
  height: 230px;
  box-shadow: 0px 30px 25px -25px rgba(0, 0, 0, 0.5);
  /* padding: 2em; */
  border: white 1px solid;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  margin: 60px 0;
  text-align: left;
  /* box-shadow: 1.5px 2px 4px rgb(48 48 48); */
}

.top {
  position: relative;
  left: -13px;
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.249);
  /* backdrop-filter: blur(2px); */
  /* position: relative; */
  /* left: 0; */
  /* top: -31px; */
  /* display: flex; */
}

.name {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.793);
  font-weight: bold;
  margin: 9% 20px 0;
  /* padding-top: 30px; */
  position: relative;
  display: flex;
  flex: 1;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  position: relative;
  left: 250px;
  bottom: 25px;
  width: 110px;
  z-index: +1;
}

.bottom {
  /* margin-top: -30px; */
  margin-left: 20px;
}

.info {

  margin: 20px 0;
  color: rgba(255, 255, 255, 0.821);
  font-weight: normal;
}

.dash-card.grey {
  background: linear-gradient(135deg, #6aa1a9 0%, #485260 100%);
}

.dash-card.metallic {
  background: linear-gradient(135deg, #a2b6df 0%, #33569b 100%);
}

.dash-card.purple {
  background: linear-gradient(135deg, #dfaffd 0%, #4e6ffb 100%);
}

.dash-card.green {
  background: linear-gradient(150deg, #39ef74, #101bbe 100%);
}

/*DASHBOARD BG FIX*/
section {
  height: 100vh;
  padding: 80px 0;
  background-size: cover;
}

/* .tab{
    overflow-y: scroll;
  } */

.tableBox {
  margin-top: -80px;
}