body{
  /* background-color: rgb(209, 227, 231); */
  background: rgb(140, 182, 209);
  /* background-repeat: none; */
  /* background: linear-gradient(3deg, rgba(83,155,201,1) 0%, rgba(149,198,205,1) 50%, rgba(193,244,255,1) 100%); */
}

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
/* <-------------------------------------OTP CSS-----------------------------------------> */
.timer{
  color: red;
}


/* <----------------------------------DASHBOARD CSS--------------------------------------> */

.dash-card {
  width: 450px;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 20px;
  color: white;
  line-height: 25px;
  box-shadow: 0px 30px 25px -25px rgba(0, 0, 0, 0.5);
  float: left;
  margin-right: 1em;
}

.dash-card.grey {
  background:linear-gradient(135deg, #6aa1a9 0%,#485260 100%);
}

.dash-card.metallic {
  background:linear-gradient(135deg, #a2b6df 0%,#33569b 100%);
}

.dash-card.purple {
  background:linear-gradient(135deg, #dfaffd 0%,#4e6ffb 100%);
}

.dash-card.green {
  background: linear-gradient(150deg, #39ef74, #101bbe 100%);
}
  
  /*DASHBOARD BG FIX*/
  section {
    height: 100vh;
    padding: 80px 0;
    background-size: cover;
  }

  /* .tab{
    overflow-y: scroll;
  } */

  .tableBox{
    margin-top: -5px;
  }